$main_color:rgb(32, 178, 170);
$second_color:rgb(12, 126, 120);
@media (min-width:600px) and (orientation:landscape)
{
    main{display: flex;flex-direction: row-reverse;}
    nav{flex: 3;width: 100%;height: 52vh;background-color: rgb(12, 126, 120);display: flex;flex-direction: column;justify-content: space-around ;}
    .content{flex: 7}  
    nav>a{font-size: 1.5rem;}
    nav{position: sticky;top: 10vh;}
    article{width: 48%;margin-left: 1%;margin-right:1% ;display: block;}
    
}
@media (max-width:600px),(orientation:portrait)
{
    article{width: 100%;}
    footer{flex-direction: column;}
    nav{position: sticky;top: 10vh;}
    main{display: flex;flex-direction: column;}
    *{font-size: 1.3rem;}
    nav{width: 100%;height: 80vh;background-color: rgb(12, 126, 120);display: flex;flex-direction: column;justify-content: space-evenly ; ;}
    nav>a{font-size: 3rem;padding: 1rem;}
    article{margin-bottom: 2em;margin-left: 0.7em;}
}

*{margin: 0}
header{
    width: 100%;height: 10vh;
    background-color: $main_color;display: flex;
    justify-content: center;
    position: sticky;
    top:0;
    *{height: 100%;}
    div:first-of-type{flex: 3;display: flex;justify-content: flex-start;}
    div:first-of-type>img,a{padding-left: 2em;}
    div:last-of-type{flex: 1;display: flex;justify-content: flex-end;}
    div:last-of-type>img,a{padding-right: 2em;}
}


img{height: 100%;}


main>*{margin-top:3vh;}
nav>a{display: block;flex: 1;text-align: center;font-size: 1.4rem;}
#main_page_button{justify-self: flex-start;}
nav{display: none;}



footer
{
    width: 100%;min-height: 7vh;display: flex;justify-content: space-between;width: 100%;padding-bottom: 1%;
    background-color: lightgray;margin-top: 1%;
    div{margin: 0 1% 0 1%;height: 100%;}
}
   
    footer li{list-style: none;}
    footer li[class]{text-indent: 1.2em;background-repeat: no-repeat;background-size: 1em;background-position:  0 center;}
    .github{background-image: url("../resources/github.png");}
    .facebook{background-image: url("../resources/Facebook_Black.png");}
    .telegram{background-image: url("../resources/telegram-black.png");}
    .vk{background-image: url("../resources/vk-black.png");}
    .youtube{background-image: url("../resources/youtube-black.png");}
    .hide_but{color: green;}
    article>img,article>figure{margin:0.5em 1em 0.5em 0.5em;}//float: left;
    figcaption{text-align: center;font-family: Arial, Helvetica, sans-serif;}
a{
   
    &:visited,&:active,&:link{color: black;text-decoration: none;}
   
}
body{display: flex;flex-direction: column;min-height: 100vh;}
main{flex: 1;}
.content{display: flex;flex-wrap: wrap;}

/*categories only*/
article{/*width: 48%;*/
img{width: 30vw;height: auto;}//float: left;
div{padding-left: 0.6rem;padding-right:0.6rem ;}
button{margin: 1rem;}
align-self: flex-end;
}
section{
width: 100%;
*{margin: 1em;}
input{max-width: 70vw;}
p{margin: 1rem;}
}